* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: rgb(240, 225, 226);
    margin: auto;

}

.container {
    display: flex;
    width: 100vh;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgb(53, 53, 53);
    border-radius: 10px;
    margin: auto;
    border: none;
}

.signin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.panel {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    align-items: center;
    background-color: rgb(235, 83, 105);
    border-radius: 0px 10px 10px 0px;
}

.login {
    font-weight: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

.social-icon {
    display: flex;
    justify-content: center;
}

.social-media {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 35px;
    text-decoration: none;

}

.div {
    font-size: 20px;
    margin: 10px 0;
    margin-bottom: 15px;
}

.input-box {
    width: 70%;
    height: 40px;
    background-color: white;
    margin-bottom: 15px;
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 2;
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    background-color: lightgray;
    padding-left: 10px;
    font-weight: 20px;
}

.f-password {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.login1 {
    width: 35%;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: rgb(239, 31, 31);
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 15px;
}

.para {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.para2 {
    width: 55%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: white;
    text-align: center;

}